:root {
    /* 340px */
    --login-elements-width-percentage: 85%;
}

/* ------------------------------- 登录 页面 --------------------------------- */

#login-page {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#login-card {
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    /* border: 1px solid #ccc; */
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    width: 400px;
    height: fit-content;
}

#login-text-title {
    font-size: 16px;
    text-align: center;
}

.login-text-hint {
    margin-top: 28px;
    margin-bottom: 4px;
    /* background-color: rebeccapurple; */
    width: var(--login-elements-width-percentage);
    color: #444;
}

.login-input-wrapper-style {
    box-shadow: none;
    background-color: #fbfbfb;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s ease;
}

.login-input-wrapper-style-focus {
    box-shadow: none;
    background-color: #fbfbfb;
    outline: none;
    border: 2px solid blue;
    border-radius: 6px;
    transition: border-color 0.3s ease;
}

#login-input-username-wrapper {
    width: var(--login-elements-width-percentage);
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-input-username {
    width: 320px;
}
#login-input-password-wrapper-wrapper {
    position: relative;
    width: var(--login-elements-width-percentage);
    height: 48px;
}

#login-input-password-wrapper {
    height: 48px;
    position: relative;
}

#login-input-password {
    position: absolute;
    left: 10px;
    top: 3px;
    height: 42px;
    width: 292px;
}

.login-input {
    background-color: transparent;
    height: 42px;
    outline: none;
    box-shadow: none;
    border: none;
    padding: 10px;
    font: 900 16px "";
}

#login-password-toggle-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 6px;
    top: 6px;
    height: 36px;
    width: 36px;
    opacity: 0.6;
    cursor: pointer;
}

#login-password-toggle-img {
    scale: 0.8;
}

#login-button {
    background-color: #428546;
    margin-top: 32px;
    outline: none;
    width: var(--login-elements-width-percentage);
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    height: auto;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
    transition: background-color 0.3s ease;
}

#login-button:hover {
    background-color: #326526;
    transition: background-color 0.3s ease;
}

.testtoastify {
    padding: 12px 20px;
    color: #ffffff;
    display: inline-block;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12),
        0 10px 36px -4px rgba(77, 96, 232, 0.3);
    background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
    background: linear-gradient(135deg, #73a5ff, #5477f5);
    position: fixed;
    opacity: 1;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    max-width: calc(50% - 20px);
    z-index: 2147483647;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: fit-content;
    max-width: -moz-fit-content;
}
